<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <a href="/" class="logo_a">
            <div class="box_logo">
                <img src="../../img/logos.png" alt="">
            </div>
        </a>
        <nav>
            <ul>
                <li>
                    <a href="/iniciar_sesion">Iniciar sesion</a>
                </li>
                <li>
                    <a href="/registro">Registrate</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="container">

        <div class="box_logo_c">
            <img src="../img/logos.png" alt="">
        </div>

        <div class="info">
            <div class="th">
                <div class="titulo">
                    <h1>Cursos online gratis</h1>
                </div>
                <div class="titulo_d">
                    <h2>La mejor forma para estudiar con profesores capasitados</h2>
                </div>
                <div class="descripcion">
                    <!-- <p>Todo lo que quieres enseñar todo lo que quieres aprender aqui es para todos</p>     -->
                </div>
            </div>

        </div>

        <img src="../img/img_index_c.jpg" alt="">
    </div>

    <footer>

    </footer>
</body>
</html>