<head>
    <link rel="stylesheet" href="../../css/estudiante/header.css">
</head>

<header>
    <a href="/inicio" class="logo_a">
        <div class="box_logo">
            <img src="../../img/logo_novo.png" alt="">
        </div>
    </a>
    <div class="search">
        <input type="text" placeholder="Buscar profesor" name="" id="input_search">
        <div class="box_showResult">
            <div class="showResult" id="showResult"></div>
        </div>
    </div>
    <nav>
        <ul>
            <li class="li"> <a class="" href="/inicio">Inicio</a></li>
            <li class="li"> <a class="" href="">Perfil</a></li>
            <li lass="li"><a class="" href="/logout">Salir</a></li>
        </ul>
    </nav>
</header>

<script src="../../js/header_e.js"></script>