<head>
    <link rel="stylesheet" href="../../css/estudiante/header.css">
</head>

<header>
    <a href="/inicio" class="p">
        <div class="">
            <img src="" alt="">
        </div>
    </a>
    <nav>
        <ul>
            <li class="li"> <a class="" href="/inicio">Inicio</a></li>
            <li class="li"> <a class="" href="">Perfil</a></li>
            <li lass="li"><a class="" href="/logout">Salir</a></li>
        </ul>
    </nav>
</header>