
<div class="boxuc">
    <div>
        <div class="userD">
            <div class="fotoUser">
                <img src="../../img/images.png" alt="">
            </div>
            <div class="fullName">
                <p><%=user.name%> <%=user.lastName%></p> 
            </div>
            <!-- <div class="userD_fooder">
                <div class="materias">
                    <div class="name_m">
                        <p>Materias</p>
                    </div>
                    <strong><%=groupe.groupes.length%></strong>
                </div>
            </div> -->
        </div>
    
        <div class="config">
            <!-- <p><a href="/emails">Mail</a></p>
            <p><a href="/notas">Notas</a></p> -->
            <p><a href="#" id="btn_open">Crear classroom</a></p>
            <!-- <p><a href="/calendarios">Calendario</a></p> -->
            <!-- <p><a href="/recordatorio/<%=user.id%>">Recordatario</a></p> -->
            <p><a href="/configuracion">Configuracion</a></p>
        </div>
    
    </div>
</div>