<head>
    <link rel="stylesheet" href="../../css/profesor/boxStudents.css">
</head>

<div class="box_menbers" >
    <div class="box_contain_users" data-idg="<%=groupe.id%>" data-id="<%=groupe.teacher%>" id="_users_contain">
        <div class="box_admin">
            <p class="h3_">ADMINISTRADOR</p>
            <div id="admin"></div>
        </div>
        <div class="box_students">
            <p class="h3_">ESTUDIANTES</p>
            <div id="students"></div>
        </div>

        
    </div>
</div>

