
<head>
    <link rel="stylesheet" href="../../css/profesor/detailsTask.css">
</head>

<div class="overlay" >
    <div class="overlay_detailTask">
        <div class="d_header">
            <div class="close">
                <button id="close_tab">X</button>
            </div>
            <p class="d_name"></p>
        </div>
        <div class="d_body">
            <form action="">
                <div class="d_ratings">
                    <label for="ratings">Puntuacion</label>
                    <input type="number" name="ratings" id="ratings">
                </div>
                <div class="d_status">     
                    <label for="check">Revisado</label>
                    <input type="checkbox" name="check" id="status">
                </div>
            </form>
            <div id="files">

            </div>
            <div class="d_btn">

                <button id="btn_dt">Verificado</button>
            </div>
        </div>
    </div>
</div>


<script src="../js/tabsOpenC.js"></script>