<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/profesor/groupe.css">
</head>
<body>
    <%include header_p%>

    <div class="config_groupe">
        <div class="name_groupe" style="background-color: <%=groupe.color%>">
            <p><%=groupe.name%></p><p><%=groupe.nivel%></p>
        </div>
        <div class="cth">
            <a href="/create_task/<%=groupe.id%>">Crear tarea</a>
        </div>
        <div class="cth">
            <a href="">Mienbros</a>
        </div>
        <div class="cth">
            <a href="">Calificaciones</a>
        </div>
    </div>
    
    <div class="container">
        <div class="box_groupe">
            

        </div>
    </div>
    
</body>
</html>