<head>
    <link rel="stylesheet" href="../../css/profesor/list_group.css">
</head>

<%groupe.groupes.forEach(groupe =>{%>
    <div class="groupe" >
        <div class="box_element">
            <div class="imgClassR">
                <img src="../../img/imgcr.jpg" alt="">
            </div>
            .
            <div class="list_body">
                <div class="name_groupe">
                    <p><%=groupe.name%> <%=groupe.nivel%></p>
                </div>
                <!-- <div class="description">
                    <p><%=groupe.description%></p>
                </div> -->
                <div class="fooder">
                    <a href="/groupe/<%=groupe.id%>">
                        Entrar
                    </a>
                </div>
            </div>
        </div>
    </div>
    
<%})%>

