<div class="overlay">
    <div class="ventana_flotante">
        <div class="card">
            <div class="card-header">
                <h2>crear tarea</h2>
                <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                    </li>
                </ul> -->
            </div>
            <div class="card-body" >
                <div class="" id="home" role="tabpanel">
                    <form class="form-groupe" action="">
                        <div class="custom-file form-groupe">
                            <label for="archivo" class="custom-file-label">Subir archivo</label>
                            <input type="file" name="file" class="custom-file-input" id="" multiple>
                        </div>
                        <div class="form-groupe mt-2">
                            <textarea name="descripcion_type_file" class="form-control" required placeholder="Instrucciones"></textarea>
                        </div>
                        <div class="form-groupe mt-3">
                            <button class="btn" id="btn_cancel">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </form>
                </div>
                <!-- <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <form class="form-groupe" action="" method="post">
                        <textarea name="descripcion_type_texto" id="" class="form-control" ></textarea>
                        <button type="submit">Enviar</button>
                    </form>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <form class="form-groupe" action="/create_task/<%=groupe.id%>" method="post" enctype="multipart/form-data">
                        <div class="custom-file">
                            <label class="custom-file-label" for="imagen">Subir imagen</label>
                            <input type="file" name="file" class="custom-file-input" id="" multiple>
                        </div>
                        <textarea name="descripcion_type_image" class="form-control" id="" placeholder="Instrucciones"></textarea>
                        <button class="btn" type="submit">Enviar</button>
                    </form>
                </div> -->
            </div>
        </div>
    </div>
</div>