
<head>
    <link rel="stylesheet" href="../../css/profesor/overlay_add.css">
</head>


<div class="overlay" id="overlay">
    <div class="box_add">
        <div class="card_header">
            <h4>Agregar este estudiante a </h4>
        </div>
        <div class="card_body" id="card_body" data-id="<%=user.id%>">

        </div>
    </div>

</div>