
<head>
    <link rel="stylesheet" href="../../css/profesor/overlay_task.css">
</head>

<div class="overlay" id="overlay" data-id="<%=groupe.id%>">
    <div class="box_tab">
        <div class="box_card">
            <div class="card_heade">
                <ul class="" id="my_Tab">
                    <li class="item_one item_active" >
                        Tarea libre
                    </li>
                    <li class="item_two" >
                        Tarea limitada
                    </li>
                </ul>
            </div>
            <div class="card_body" >
                <div class="" id="tab_panel_one">
                    <form class="form-groupe" action="/create_task/<%=groupe.id%>" method="post" enctype="multipart/form-data">
                        <div class="custom-file form-groupe">
                            <label for="file" class="custom-file-label">Subir archivo</label>
                            <input type="file" name="file" class="custom-file-input" id="" multiple>
                        </div>
                        <div class="form-groupe mt-2">
                            <textarea name="description" class="form-control" rows="5" required placeholder="Instrucciones"></textarea>
                        </div>
                        <div class="form-groupe mt-3">
                            <button class="btn btn-outline-dark" id="btn_cancel">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </form>
                </div>
                
                <div class="tab_panel_two" id="tab_panel_two" style="display: none;">
                    <form class="form-groupe" action="/create_task/<%=groupe.id%>" method="post" enctype="multipart/form-data">
                        <div class="custom-file">
                            <label class="custom-file-label" for="file">Subir archivo</label>
                            <input type="file" name="file" class="custom-file-input" id="" multiple>
                        </div>
                        <div class="form-groupe mt-2">
                            <textarea name="description" required class="form-control" id="" rows="4" placeholder="Instrucciones"></textarea>
                        </div>
                        <div class="form-groupe mt-2">
                            <input type="datetime-local" name="limit_time" required class="form-control"  id="">
                        </div>
                        <div class="form-groupe mt-3">
                            <button class="btn btn-outline-dark" id="btn_cancel_two">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>