
.overlay{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

._active{
    visibility: visible;
}

.overlay_detailTask{
    background-color: #fafaff;
    border-radius: 5px;
    width: 700px;
    height: 350px;
}
.i_close{
    pointer-events: painted;
}
