:root{
    --color_bara: #020518;
    --color_fooderTask: #0D5EDE
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contain{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20%;
    position: relative;
    
}


.box_two{
    width: 100%;
}

.box_task_info{
    width: 100%;
    border-top: 1px solid var(--color_bara);
    border-bottom: 1px solid var(--color_bara);
    margin-bottom: 15px;
    padding: 7px 0 7px 0;
}
.box_task_info strong{
   font-size: large;
}

/* info groupe */
.info_groupe{
    width: 100%;
    margin: 10px 0 15px 0;
    display: flex;
    padding: 15px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 14px -8px #000000; 
    box-shadow: 0px 0px 14px -8px #000000;  
}
.info{
    width: 100%;
    
}

.name_groupe{
    width: 100%;
}
.name_groupe p{
    margin: 0;
    font-family: sans-serif;
    font-size: 2em;
    color: rgb(24, 24, 24);
}
.descrip_groupe p{
    margin: 0;
    font-family: sans-serif;
    font-size: 1em;
    color: rgb(61, 61, 61);
}


/* tasks */
.contain_task{
    width: 100%;

}

.box_groupe{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box_task{
    width: 49.5%;
    height: 240px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    color: rgb(54, 54, 54);
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 14px -8px #000000; 
    box-shadow: 0px 0px 14px -8px #000000;  
    text-decoration: none;
}
.box_task:hover{
    text-decoration: none;
}
.box_time_task{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    margin: 5px 5px 0 5px;
}
.box_timeAgo{
    display: flex;
    color: rgb(54, 54, 54);
}
.box_timeAgo .hs{
    margin-left: 7px;
}
.box_descp{
    width: 100%;
    max-height: 45%;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
}
.box_descp p{
    margin: 0;
}
.box_files_{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    background: var(--color_fooderTask);
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
    color: white;
}
.box_file{
    width: 50px;
    height: 50px;
}
.box_file img{
    width: 100%;
    object-fit: cover;
}
.box_count_files p{
    font-size: 20px;
    font-weight: bolder;
}
.box_btn{
    width: 100%;
    height: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_btn a{
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #02206c;
    color: #ffffff;
    border-radius: 3px;
    text-decoration: none;
}