:root{
    --color_bara: rgba(196, 196, 196, 0.933);
    --color_fooderTask: #0D5EDE
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contain{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20%;
    position: relative;
    
}


.box_two{
    width: 100%;
    margin-top: 60px;
    
}

.boxCreate{
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.box_task_info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(196, 196, 196, 0.933);
    border-bottom: 1px solid rgba(196, 196, 196, 0.933);
    margin-bottom: 15px;
    padding: 7px 0 7px 0;
}
.box_task_info p{
   font-size: large;
   font-weight: bolder;
   margin: 0;
}

/* info groupe */
.info_groupe{
    width: 100%;
    margin: 50px 0 50px 0;
    display: flex;
    box-sizing: border-box;
    padding-top: 15px;
    /* background-color: rgb(255, 255, 255);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 14px -8px #000000; 
    box-shadow: 0px 0px 14px -8px #000000;   */
}
.info{
    width: 100%;
    
}

.name_groupe{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.name_groupe p{
    margin: 0;
    font-family: sans-serif;
    font-size: 2em;
    color: rgb(24, 24, 24);
}
.btn_create_task{
    display: flex;
}
.btn_create_task a{
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 7px 10px; */
    color: white;
    border-radius:5px;
    background-color: rgb(12, 199, 37);
    text-decoration: none;
}
.btn_create_task a:hover{
    text-decoration: none;
    color: white;
    background-color: rgb(18, 233, 47);
}
.descrip_groupe p{
    margin: 0;
    font-family: sans-serif;
    font-size: 1em;
    color: rgb(61, 61, 61);
}


.taskTitle{
    width: 60%;
}
.taskTime{
    width: 25%;
}
.taskPuntuacion{
    width: 15%;
}

/* tasks */
.contain_task{
    width: 100%;

}

.box_groupe{
    width: 100%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}
.box_task{
    width: 100%;
    height: 90px;
    background-color: #f5f5f5;
    border-radius: 6px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    color: rgb(54, 54, 54);
    box-sizing: border-box;
    /* -webkit-box-shadow: 0px 0px 14px -8px #000000; 
    box-shadow: 0px 0px 14px -8px #000000;   */
    text-decoration: none;
}
.box_task:hover{
    text-decoration: none;
    background-color: rgba(233, 233, 233, 0.933);

}
.taskTitle{
    font-weight: bolder;
    color: rgb(37, 37, 37);
}
.box_time_task{
    width: 25%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    margin: 5px 5px 0 5px;
}
.box_timeAgo{
    display: flex;
    color: rgb(54, 54, 54);
    color: #ff4343;
    font-weight: bolder;
}
.box_timeAgo .hs{
    margin-left: 7px;
}
.box_descp{
    width: 60%;
    max-height: 60%;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
}
.box_descp p{
    margin: 0;
}

.puntuacion_box{
    width: 15%;
}

.box_btn{
    width: 100%;
    height: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_btn a{
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #02206c;
    color: #ffffff;
    border-radius: 3px;
    text-decoration: none;
}