
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    /* background-color: rgb(240, 239, 239); */
}
header{
    height: 55px;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #031738;
    z-index: 1;
}
.box_logo{
    width: 130px;
    height: 40px;
    margin-bottom: 5px;
}
.logo_a{
    margin-left: 100px;
    justify-self: start;

}
.box_logo img{
    width: 100%;
}


.search{
    width: 30%;
    padding-bottom: 10px;
    position: relative;
}
.search input{
    width: 100%;
    height: 28px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
}

.box_showResult{
    width: 100%;
    background-color: #051228;
    padding-top: 10px;
    position: absolute;
}
.showResult{
    width: 100%;
    background-color: #ffff;
    -webkit-box-shadow: -1px 7px 22px -2px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 7px 22px -2px rgba(0,0,0,0.51);
    box-shadow: -1px 7px 22px -2px rgba(0,0,0,0.51);
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
}
.box_user_search{
    width: 100%;
    padding: 9px;
    box-sizing: border-box;
    text-decoration: none;
}
.search_user{
    display: flex;
    background-color: rgb(246, 244, 244);
    border-radius: 5px;
    padding: 7px;
}
.img_user{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.img_user img{
    width: 100%;
}
.name_user p{
    font-family: sans-serif;
}



nav{
    margin-right: 150px;
}
nav ul{
    display: flex;
    height: 60px;
    display: flex;
    align-items: flex-end;
    margin: 0;
}
ul li{
    list-style: none;
    padding: 10px;

}
li a{
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;

}
li a:hover{
    border-bottom: 1px solid #fff;
    color: #fff;
}