:root{
    --color_bara: #020518
}
.links{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 55px;
    /* border-bottom: 1px solid var(--color_bara); */
    align-self: flex-start;
    background-color: #2245b8;
    padding-right: 30px;
}
.links_groupe{
    display: flex;
}

.li{
    /* padding: 7px; */
}
.li a{
    width: 100%;
    font-family: sans-serif;
    height: 35px;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 7px;
    box-sizing: border-box;
}
.li a:hover{
    color: rgb(0, 140, 255);
    background-color: white;

}