body{
    display: flex;
    flex-wrap: wrap;
}

.containe{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 80px;
    margin-left: 260px;
    margin-bottom: 50px;
}
.list_goupes{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
.headerF{
    width: 100%;
    height: 260px;
    background-color: #ccc;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
/* .headerF img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.headerF h2{
    position: absolute;
    font-family: sans-serif;
    color: #fff;
    font-size: 4em;
} */
.list{
    width: 100%;
    margin-top: 10px;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.titulo{
    width: 100%;
    border-bottom: 1px solid #020518;
    margin-bottom: 15px;
    font-size: 18px;
    padding-bottom: 5px;
}


.containe_two{
    width: 280px;
    background-color: #ffffff;
    border-radius: 3px;
    position: fixed;
    margin-left: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    top: 80px;
    left: 250px;
    -webkit-box-shadow: 1px 6px 20px -2px rgba(0,0,0,0.16);
    -moz-box-shadow: 1px 6px 20px -2px rgba(0,0,0,0.16);
    box-shadow: 1px 6px 20px -2px rgba(0,0,0,0.16);  
}
.box_recordatorio{
    width: 100%;
    height: 280px;
    border-radius: 3px;
    padding: 7px;
}
.titule_r{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(223, 108, 1);
    font-family: sans-serif;
    font-weight: bolder;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid rgb(211, 211, 211);
}
.body_recor{
    width: 100%;
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box_alamr_past{
    width: 95%;
    display: flex;
    border-radius: 5px;
    border: 1px solid #ccc;

}
.footer_recor{
    width: 100%;
    height: 35px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_recor a{
    color: rgb(223, 108, 1);
    text-decoration: none;
    font-family:sans-serif;
}
.footer_recor a:hover{
    border-bottom: 1px solid rgb(223, 108, 1);
}



/* box_config  */
.box_config{
    width: 260px;
    left: 10px;
    top: 80px;
    position: fixed;
}
.boxuc{
    height: 89%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 100px;
    /* background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 1px 6px 20px -2px rgba(0,0,0,0.16);
    -moz-box-shadow: 1px 6px 20px -2px rgba(0,0,0,0.16);
    box-shadow: 1px 6px 20px -2px rgba(0,0,0,0.16);  */
}
.userD{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
    padding: 25px 10px;
    box-sizing: border-box;
    border-radius: 3px;
     
}
.fotoUser{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 31, 116);
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.fotoUser img{
    width: 100%;
}
.fullName{
    width: 100%;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fullName p{
    color: rgb(15, 15, 15);
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0;
}
.userD_fooder{
    width: 100%;
    background-color: rgb(0, 31, 116);
    display: flex;
    color: #ffffff;
    padding: 5px;
    box-sizing: border-box;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.materias{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-right: 1px solid #ffffff;

}
.name_m{
    width: 100%;
    display: flex;
    justify-content: center;
}
.name_m p{
    margin: 0;
}
.materias strong{
    font-size: 18px;
}

.config{
    width: 100%;
    background-color: #ffffff;
    border-top: 20px solid #e8e8e8;
    padding: 5px 0;
  
}
.config p{
    width: 100%;
    height: 45px;
    margin: 0;
    
}
.config p a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: rgb(36, 36, 36);
    font-family: sans-serif;
    font-size: 17px;
    text-decoration: none;
    padding-left: 7px;
    box-sizing: border-box;
    
}
.config p a:hover{
    color: rgb(245, 249, 255);
    background-color: rgb(0, 119, 230);
    transition: 0.5s;
}

/* overlay */
.overlay{
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.active{
    visibility: visible;
}
.ventana_flotante{
    background-color: #fafaff;
    padding: 15px;
    border-radius: 5px;
    width: 600px;
}
.card{
    width: 100%;
    height: 100%;
}
