
body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contain{
    width: 80%;
    margin-top: 90px;
}
.task_contain{
    width: 100%;
    margin: 60px 0 50px 0;
    /* background-color: #ffffff;
    -webkit-box-shadow: 1px 10px 40px 2px rgba(0, 0, 0, 0.335);
    -moz-box-shadow: 1px 10px 40px 2px rgba(0,0,0,0.335);
    box-shadow: 1px 10px 40px 2px rgba(0,0,0,0.335); */

}
.boxdf{
    width: 100%;
    border-radius: 10px;   
}

.box_main{
    width: 100%;
    margin-top: 30px;
    
}
.box_header_main{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    box-sizing: border-box;
    border-bottom: 3px solid #724bf2;
}
.box_header_main p{
    margin: 0;
    color: #724bf2;
    font-weight: bolder;
    font-size: 20px;
}
.box_body_main{
    width: 100%;
    display: flex;
    justify-content: center;
    /* padding-bottom: 50px; */
}

.box_t_d{
    width: 100%;

}
.btitle{
    font-weight: bolder;
    font-size: 2em;
}

.task_file{
   
}
.boxFile{
   display: flex;
   padding: 5px;
   box-sizing: border-box;
   align-items: center;
   margin-bottom: 5px;
}
.boxFile:hover{
    background-color: #eeeeee;
}
.file{
    width: 25px;
    height: 25px;
    
}
.file img{
    width: 100%;
    /* margin-right: 10px; */
}
.file_name{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.file_name p{
    margin: 0;
}


.show_taskSent{
    width: 100%;
    border-top: 1px solid #dddddd;
}

#btn_openForm{
    background-color: teal;
    padding: 15px;
    color: white;
    border-radius: 5px;
    
}
#sentTask:hover{
    text-decoration: none;
}


#show_taskSent{
    width: 100%;
    margin-top: 5px;
}

.boxOne{
    width: 100%;
    height: 45px;
    margin-bottom: 2px;
    /* border-radius: 8px; */
    display: flex;
    color: #272727;
    /* -webkit-box-shadow: 0px 0px 14px -8px #000000; 
    box-shadow: 0px 0px 14px -8px #000000;  */
}
.boxOne:hover{
    background-color: #ffffff;
    text-decoration: none;

}
.boxct{
    width: 99%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 5px 15px;
}

.fullName{
    font-size: 15px;
    margin: 0;
    font-weight: bolder;
}
.boxFiles{
    display: flex;
    align-items: center;
}
.filesTwo{
    width: 25px;
    height: 25px;
    
}
.filesTwo img{
    width: 100%;
}
.boxpc{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

strong{
    font-size:20px;
}


.overlay_task{
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.boxToSent{
    background-color: #fafaff;
    border-radius: 5px;
    width: 600px;
    height: 350px;
}

.active{
    visibility: visible;
}

.pending{
    color: red;
}