<head>
    <link rel="stylesheet" href="../../css/estudiante/inicio_e.css">
</head>

<%-include("../header_e")%>

<!-- menu lateral -->
<div class="box_config">
    <%-include("../box_config")%>
</div>

<div class="containe">
    <div class="list_goupes">
        <div class="headerF">
            <h2>EL FUTURO ES HOY</h2>
            <img src="../../img/header_img.jpg" alt="">
            
        </div>
        <div class="list">
            <div class="titulo">
                <strong>Materias <%=groupe.groupes.length%></strong>
            </div>
            <%-include('../list_groupe')%>
        </div>
    </div>
</div>

<script src="../../../js/inicio_e.js"></script>