<head>
    <link rel="stylesheet" href="../../css/estudiante/inicio_e.css">
</head>

<%-include("../header_e")%>

<!-- menu lateral -->
<div class="box_config">
    <%-include("../box_config")%>
</div>

<div class="containe">
    <div class="list_goupes">
        <div class="titulo">
            <strong>Classroom <%=groupe.groupes.length%></strong>
        </div>
        <div class="list">
            <%-include('../list_groupe')%>
        </div>
    </div>
</div>

<script src="../../../js/inicio_e.js"></script>