
.containe{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 80px;
    margin-left: 260px;
    margin-bottom: 50px;
}
.list_goupes{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
.headerF{
    width: 100%;
    height: 280px;
    background-color: #ccc;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}
.headerF img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.headerF h2{
    position: absolute;
    font-family: sans-serif;
    color: #fff;
    font-size: 4em;
}
.list{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.titulo{
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    font-size: 18px;
    padding-bottom: 5px;
}



/* box_config  */
.box_config{
    width: 260px;
    left: 10px;
    top: 80px;
    position: fixed;
}
.boxuc{
    height: 89%;
    width: 100%;
    margin-bottom: 100px;
    border-right: 1px solid #dddd;
    /* background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 1px 6px 20px -2px rgba(0,0,0,0.16);
    -moz-box-shadow: 1px 6px 20px -2px rgba(0,0,0,0.16);
    box-shadow: 1px 6px 20px -2px rgba(0,0,0,0.16);  */
}
.userD{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #dddd;
    margin-bottom: 20px;
}
.fotoUser{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 140, 255);
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.fotoUser img{
    width: 100%;
}
.fullName{
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fullName p{
    margin-right: 5px;
    color: rgb(15, 15, 15);
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}

.config{
    width: 100%;
    background-color: #ffffff;
    padding-top: 5px;
}
.config p{
    width: 100%;
    height: 45px;
    margin: 0;
}
.config p a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: rgb(36, 36, 36);
    font-family: sans-serif;
    font-size: 17px;
    text-decoration: none;
    padding-left: 7px;
    box-sizing: border-box;
}
.config p a:hover{
    color: rgb(245, 249, 255);
    background-color: rgb(0, 119, 230);
    transition: 0.5s;
}