body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container{
    width: 70%;
    margin-top: 60px;
    font-family: sans-serif;
}
.header_profile{
    width: 100%;
    height: 350px;
    border-bottom: 2px solid #051228;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}
.img_profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #eeeeee;
}
.img_profile img{
    width: 100%;
}
.name_teacher{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.name_teacher p{
    font-weight: bold;
    font-size: 30px;
    margin-top: 0;
}


.body_profile{
    width: 100%;
    padding-top: 20px;
}
.list_groupe{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.box_list{
    width: 49.5%;
    height: 270px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 6px 20px -2px rgba(0,0,0,0.16);
    -moz-box-shadow: 1px 6px 20px -2px rgba(0,0,0,0.16);
    box-shadow: 1px 6px 20px -2px rgba(0,0,0,0.16); 
    display: flex;
    background-color: #ffffff;
    margin-bottom: 15px; 
}
.list_groupe_body{
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.list_groupe_time{
    width: 100%;
    height: 10%;
}
.list_groupe_name{
    width: 100%;
    height: 21%;
    border-bottom: 1px solid #9a09ff;
    box-sizing: border-box;
}
.list_groupe_name p{
    width: 100%;
    font-weight: bolder;
    font-size: 2em;
    margin: 0;
}
.list_groupe_description{
    width: 100%;
    height: 50%;
    padding: 10px 0;
    box-sizing: border-box;
}
.list_groupe_description p{
    width: 100%;
    margin: 0;
    color: #575757;
}
.list_groupe_solicitud{
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: space-around;
}

.list_groupe_solicitud a{
   
}
.enviarSolicitud{
    text-decoration: none;
    width: 70%;
    padding: 5px;
    background-color: #2e1eff;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: larger;
}

.Solicitud_aceptada{
    text-decoration: none;
    padding: 7px 15px;
    background-color: #ffffff;
    border: 1px solid rgba(131, 131, 131, 0.8);
    color: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: larger;
}
.btn_go_groupe{
    text-decoration: none;
    padding: 7px 15px;
    background-color: #130068;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: larger;
}