<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/profesor/chat.css">
    <title>Chat</title>
</head>
<body>
    <%-include('../header_p')%>
    <div class="contain">
        <div class="box_chat">

        </div>
    </div>
    <script src="../../../js/chat.js"></script>
</body>
</html>