<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitudes</title>
    <link rel="stylesheet" href="../../css/profesor/solicitud.css">
</head>
<body>
    <%-include("../header_p")%>
    
    <div class="contain">
        <%-include("../headerGroupe")%>
        <div class="heade_solic">
            <h2>Solicitudes</h2>
        </div>
        <div class="body_solic">
            <div class="box_solicitud" data-_id_g="<%=groupe.id%>" id="boxSolicitud"></div>
        </div>
    </div>
    
    <%-include("../overlay_task")%>

    <script src="../../../js/solicitud.js"></script>
    <script src="../../../js/headerGroupe.js"></script>
</body>
</html>